<% if notice %>
  <div class="alert alert-success">
    <%= close_button %>
    <%= notice %>
  </div><!--// .alert alert-success -->
<% end %>

<% if alert %>
  <div class="alert alert-error">
    <%= close_button %>
    <%= alert %>
  </div><!--// .alert alert-error -->
<% end %>