<div class="page-header">
  <div class="btn-group pull-right">
    <%= link_to @company, class: 'btn' do %>
      <i class="icon-info-sign"></i>
      <%= @company.name %> Details
    <% end %>
    <%= link_to companies_path, class: 'btn' do %>
      <i class="icon-th-list"></i>
      All Companies
    <% end %>
  </div><!--// .btn-group -->
  
  <h1>Editing company</h1>
</div><!--// .page-header -->

<%= render 'form' %>