<div class="page-header">
  <%= link_to companies_path, class: 'btn pull-right' do %>
    <i class="icon-arrow-left"></i>
    Back
  <% end %>
  
  <h1>New company</h1>
</div><!--// .page-header -->

<%= render 'form' %>
