<div id="<%= dom_id %>" class="tab-pane">
  <table class="table table-striped table-condensed">
    <colgroup>
      <col class="span7">
      <col class="span1">
      <col class="span1">
      <col class="span1">
      <col class="span1">
      <col class="span1">
    </colgroup>
    <thead>
      <tr>
        <th>Period Ending</th>
        <!-- ko foreach: $root.periods -->
          <th data-bind="text: period" style="text-align: right;"></th>
        <!-- /ko -->
      </tr>
    </thead>

    <tbody>
      <!-- ko foreach: groups -->
        <tr>
          <td colspan="6">&nbsp;</td>
        </tr>
        <!-- ko foreach: items -->
          <tr>
            <td data-bind="text: name"></td>
            <!-- ko foreach: values -->
              <td data-bind="text: $data" style="text-align: right;"></td>
            <!-- /ko -->
          </tr>
        <!-- /ko -->
      <!-- /ko -->
    </tbody>
  </table>
</div><!--// #<%= dom_id %> -->