<div class="page-header">
  <%= link_to 'Back', @company, class: 'btn btn-info pull-right' %>
  <h1>Financial Reports <small><%= @company.name %></small></h1>
</div><!--// .page-header -->

<ul class="nav nav-tabs">
  <li><a href="#income_statements" data-toggle="tab">Income Statements</a></li>
  <li><a href="#balance_sheets" data-toggle="tab">Balance Sheets</a></li>
  <li><a href="#cash_flow_statements" data-toggle="tab">Cash Flow Statements</a></li>
</ul>

<div class="tab-content">
  <div id="income_statements" class="tab-pane">
    IncomeStatements
  </div><!--// #income_statements -->
  
  <div id="balance_sheets" class="tab-pane">
    BalanceSheets
  </div><!--// #balance_sheets -->
  
  <div id="cash_flow_statements" class="tab-pane">
    CashFlowStatements
  </div><!--// #cash_flow_statements -->
</div><!--// .tab-content -->